.main-header{
  background-color: #eeeeee;
}

.nav-main{
  display:-webkit-box;
  -webkit-box-orient:horizontal;
}

.slider{
  background-color: #eeeeee;
}

.nav-list{
  list-style-type: none;
}

.advantages-list{
  list-style-type:none;
}
