body{
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;

}



.main-header{
  background-color: #eeeeee;
}

.nav-main{
  display:-webkit-box;
  -webkit-box-orient:horizontal;
}

.slider{
  background-color: #eeeeee;
  position: relative;
}

.nav-list{
  list-style-type: none;
}

.advantages-list{
  list-style-type:none;
}


